{% extends base.html.j2 %}
{% block content %}
<h1>What is TAPA?</h1>
<p>Tapa is a rad lil thrift store that has an awesome legacy</p>
<h2>Mission</h2>
<p>...</p>
<h2>Legacy</h2>
<p>...</p>
{% endblock %}
