{% extends "base.html.j2" %}
{% block main %}
<form method="post">
	<label for="item">Item name</label>
	<input id="item" name="item" value="" type="text">
	<label for="desc">Description</label>
	<input id="desc" name="desc" value="" type="text">
	<label for="cost">Cost</label>
	<input id="cost" name="cost" value="" type="number" step="0.01" min="0.00" max="1000.00">
	<label for="tag">Tag<button id="tag" onclick="tag()">Add</button></label>
	<label for="in_stock"><input id="in_stock" name="in_stock" type="checkbox" checked> in stock</label>
	<input name="add" value="Add item" type="submit">
</form>
{% endblock %}
{% block footer %}
	{{- button("cancel", url="/items") }}
{% endblock %}
