<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block head %}
		{% set vue = false %}
		<title>TAPA - {% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='tapa.css') }}">
		{% if vue %}<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>{% endif %}
		{% endblock %}

		<!-- websocket script -->
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	</head>
	<body>
		{% block body %}
		{% set size = "m" %}
		<header>
			<img class="logo" src="{{ url_for('static', filename='images/logo-{0}.png'.format(size)) }}" alt="TAPA Logo" title="TAPA — Thrift and Public Apparel">
		</header>
		<main>
			{% block main %}
<!-- 			<section>
				{% block content %}
				<h1>Tap an item to start checking out</h1>
				{% endblock %}
			</section> -->
			<a href="proceed_to_checkout" title="proceed to checkout">
				<section>
					<h1>Proceed to checkout</h1>
				</section>
			</a>

			<!-- test ws -->
			<button onclick="server_request()">echo</button>
			<script type="text/javascript" charset="utf-8">
				var socket = io.connect('http://' + document.domain + ':' + location.port);
				
				// verify our websocket connection is established
				socket.on('connect', function() {
					console.log('websocket connected!');
				});

				// send data over `server request` channel
				function server_request() {
					socket.emit('server request', {msg: 'hello from client'});
				}

				// receive data on `server response` channel
				socket.on('server response', function(payload) {
					console.log(payload);
				});				
			</script>


			{% endblock %}
		</main>
		<footer>
			{% block footer %}
			<a href="login" title="Update the inventory">
				<section>
					<h3 class="ui black">Admin Login</h3>
					<img class="icon" src="{{ url_for('static', filename='images/login.png') }}" alt="Login icon">
				</section>
			</a>
			<a href="help" title="Learn how to checkout">
				<section>
					<h3 class="ui brown">Show Me How</h3>
					<img class="icon" src="{{ url_for('static', filename='images/help.png') }}" alt="Question Mark icon">
				</section>
			</a>
			<a href="info" title="Learn about TAPA">
				<section>
					<h3 class="ui blue">What is TAPA?</h3>
					<img class="icon" src="{{ url_for('static', filename='images/info.png') }}" alt="Information icon">
				</section>
			</a>
			{% endblock %}
		</footer>
		{% endblock %}
	</body>
</html>
