<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block head %}
		{% set socket = false %}
		<title>TAPA - {% block title %}Thrift and Public Apparel{% endblock %}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='tapa.css') }}">
		{% if socket %}
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
		{% endif %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% set size = "m" %}
		<header>
			<img class="logo" src="{{ url_for('static', filename='images/logo-{0}.png'.format(size)) }}" alt="TAPA Logo" title="TAPA — Thrift and Public Apparel">
		</header>
		<main>
			{% block main %}
			<section>
				{% block content %}
				<h1>Tap an item to start checking out</h1>
				{% endblock %}
			</section>
			{% endblock %}
		</main>
		<footer>
			{% block footer %}
			<a href="login" title="Update the inventory">
				<section>
					<h3 class="ui black">Admin Login</h3>
					<img class="icon" src="{{ url_for('static', filename='images/login.png') }}" alt="Login icon">
				</section>
			</a>
			<a href="help" title="Learn how to checkout">
				<section>
					<h3 class="ui brown">Show Me How</h3>
					<img class="icon" src="{{ url_for('static', filename='images/help.png') }}" alt="Question Mark icon">
				</section>
			</a>
			<a href="info" title="Learn about TAPA">
				<section>
					<h3 class="ui blue">What is TAPA?</h3>
					<img class="icon" src="{{ url_for('static', filename='images/info.png') }}" alt="Information icon">
				</section>
			</a>
			{% endblock %}
		</footer>
		{% endblock %}
	</body>
</html>
