{% extends "base.html.j2" %}
{% set socket = True %}
{% set size = '-s' %}
{% block main %}
<section>
	<h1>Tap items on the <em>tag_reader</em> to add them to your cart</h1>
	<div class="container" id="cart"></div>
	<div class="container" id="checkout"></div>
</section>
<script>
		var socket = io.connect('http://' + document.domain + ':' + location.port);

		// refer to id cart and checkout button above
		var $cart = $('#cart');
		var $checkout = $('#checkout');

		// dictionary to hold checkout items
		var checkout_payload = {}

		// verify our websocket connection is established
		socket.on('connect', function() {
				console.log('websocket connected!');
		});

		// send data over `server request` channel
		function add_to_cart_request() {
				socket.emit('add_to_cart_request', {msg: 'add_to_cart_request'});
		}

		// send data over `server request` channel
		function checkout_request() {
				socket.emit('checkout_request', {data: checkout_payload});
		}

		// receive data on `add_to_cart_response` channel
		socket.on('add_to_cart_response', function(payload) {
				// update to the ui
				$cart.append('<div class="ui black">' + payload.item + ' - ' + payload.cost + '</div>');

				// add to checkout dictionary
				checkout_payload[payload.item] = payload.cost
				console.log(payload);
		});

		// receive data on `checkout_response` channel
		socket.on('checkout_response', function(payload) {
				$checkout.append('<br>');
				$checkout.append('<div class="ui brown">' + payload.msg + '</div>');
				console.log(payload);
		});
</script>
{% endblock %}
{% block footer %}
	{{- button("cancel", url="/") }}
	{{- button("remove", url="#", title="Remove Items", color="brown") }}
	{{- button("pay", url="javascript:add_to_cart_request()", color="blue") }}
	{{- button("pay", url="javascript:checkout_request()", color="blue") }}
{% endblock %}
