<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAPA — How to Checkout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tapa.css') }}">
  </head>
  <body>
    <header>
      <a href="/cart"></a>
      <h1>TAPA</h1>
      <h2>How to Checkout</h2>
    </header>
    <main>
      <h1>How to use this kiosk....</h1>
    </main>
    <footer>

    </footer>
  </body>
</html>
