{%- extends "base.html.j2" %}
{%- set size = "-s" %}
{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='sortable-theme-minimal.css') }}">
	<script src="{{ url_for('static', filename='sortable.min.js') }}"></script>
{% endblock %}
{%- block header %}
	<img class="logo" src="{{ url_for('static', filename='images/logo{0}.png'.format(size|default('-m'))) }}" alt="TAPA Logo" title="TAPA — Thrift and Public Apparel">
	{{- button("add", url="/buyer", title="Add Buyer", color='blue')}}
{%- endblock %}
{%- block main %}
<table data-sortable>
	<thead>
		<tr>
			<th>name</th>
			<th>description</th>
			<th data-sortable-type="numeric">cost</th>
			<th data-sortable-type="date">date added</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
		<tr>
			<td><a href="/items/edit/{{ item.index }}">{{ item.name }}</a></td>
			<td>{{item.description}}</td>
			<td data-value="{{item.cost[1:]|replace(',','')}}">{{ item.cost }}</td>
			<td data-value="{{item.date_added}}">{{item.date_added}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block footer %}
	{{- button("home", url="/logout", title="Logout")}}
	{{- button("all", url="/items/held", title="Held Items", color="brown")}}
	{{- button("pay", url="/items/sold", title="Sold Items", color="blue")}}
	{{- button("add", url="/items/add", title="Add", color="blue") }}
{% endblock %}
