{% extends "base.html.j2" %}
{% set size = "s" %}
{% block content %}
<form method="post" action="stock">
	<h2 class="ui">Admin Login</h2>
	<input name="pin" value="123" type="text">
	<input name="log" value="Enter" type="submit">
</form>
{% endblock %}
