<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TAPA — Admin Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='tapa.css') }}">
  </head>
  <body>
    <header>
        <img class="logo" src="{{ url_for('static', filename='images/logo-sm.png') }}" alt="TAPA Logo" title="TAPA — Thrift and Public Apparel">
    </header>
    <main>
      <form method="post" action="admin">
        <h2 class="ui">Admin Login</h2>
        <input type="text" name="pin" value="123">
        <input type="submit" name="submit" value="Enter">
      </form>
    </main>
    <footer>
      <section></section>
      <section></section>
      <a href="/" title="Go back to the checkout"><section>
        <h3 class="ui brown">Back to checkout</h3>
        <img class="icon" src="{{ url_for('static', filename='images/cart.png') }}" alt="Dollar Sign icon">
      </section></a>
    </footer>
    <script type="text/javascript">

    </script>
  </body>
</html>
