{% extends "base.html.j2" %}
{% set size = "-l" %}
{% block main %}


			<div>
			    {{ name }}
			</div>


{%- endblock %}
{%- block footer %}
	{{- button("login", title="Admin Login") }}
	{{- button("help", color="brown") }}
	{{- button("about", color="blue") }}
{%- endblock %}
